<%= form_with(model: [@contact], local: true, class: 'form-content') do |f| %>
  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", id: 'name', placeholder: 'Your Name', required: true %>
    </div>
    <div class="col-md-6 form-group mt-3 mt-md-0">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", id: 'email', placeholder: 'Your Email', required: true %>
    </div>
  </div>
  <div class="form-group mt-3">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control", id: 'subject', placeholder: 'Subject', required: true %>
  </div>
  <div class="form-group mt-3">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control", rows: 5, placeholder: 'Message', required: true %>
  </div>
  <div class="text-center mt-3">
    <%= f.submit 'Send Message', class: 'btn btn-primary'%>
  </div>
<% end %>