<%= render 'home/shared/header'%>
<%= render 'home/shared/hero-section'%>
<main id="main">
  <%= render 'home/shared/about'%>
  <%= render 'home/shared/technology'%>
  <%= render 'home/shared/services'%>
  <%= render 'home/shared/cta'%>
  <%= render 'home/shared/portfolio'%>
  <%= render 'home/shared/client-reviews'%>
  <%= render 'home/shared/team'%>
  <%= render 'home/shared/contact'%>
</main>
<%= render 'home/shared/footer'%>




