<div class="container">
  <div class="card mb-3">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h4 class="m-0 font-weight-bold text-mute"><i class="fa fa-project-diagram"></i> Portfolio</h4>
      <p class="card-text">
        <%= content_tag :i, '', class: "fas fa-#{(@portfolio.status == 'active') ? 'check-circle text-success' : 'pause-circle text-danger'}" %>
        <span class="font-weight-bold text-capitalize <%= @portfolio.status == 'inactive' ? 'text-danger' : 'text-success' %>">
          <%= @portfolio.status %>
        </span>
      </p> 
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <div class="card-body">
        <% if @portfolio.images.attached? %>
          <div id="portfolioCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% @portfolio.images.each_with_index do |image, index| %>
                <li data-target="#portfolioCarousel" data-slide-to="<%= index %>" <%= index == 0 ? 'class="active"' : '' %>></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @portfolio.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= image_tag image, class: 'img-fluid rounded-start' %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#portfolioCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#portfolioCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <%end%>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title text-dark"><i class="fa fa-clipboard"></i> Portfolio Name</h5>
          <p class="card-text"><%= @portfolio.title %></p>
          <h5 class="card-title text-dark"><i class="fa fa-tasks"></i> Category</h5>
          <p class="card-text"><%= @portfolio.category.title %></p>
          <h5 class="card-title text-dark"><i class="fa fa-handshake"></i> Client</h5>
          <p class="card-text"><%= @portfolio.client %></p>
          <h5 class="card-title text-dark"><i class="fa fa-calendar-alt"></i> Project Date</h5>
          <p class="card-text"><%= @portfolio.project_date.strftime("%d-%m-%Y") %></p>
          <h5 class="card-title text-dark"><i class="fa fa-link"></i> Project URL</h5>
          <p class="card-text"><%= @portfolio.project_url %></p>                    
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <h5 class="card-title text-dark"><i class="fa fa-align-left"></i> Description</h5>
          <p class="card-text"><%= @portfolio.description %></p>
        </div>
      </div>      
    </div>
    <div class="card-header py-3">
      <a href="<%= admin_portfolios_path %>" class="btn btn-dark btn-icon-split">
        <span class="icon text-white"><i class="fas fa-arrow-left"></i></span>
        <span class="text">Back</span>
      </a>
    </div>
  </div>
</div>