<div class="container">
  <div class="card mb-3">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h4 class="m-0 font-weight-bold text-mute"><i class="fa fa-info-circle"></i> About</h4>
      <p class="card-text">
        <%= content_tag :i, '', class: "fas fa-#{(@about.status == 'active') ? 'check-circle text-success' : 'pause-circle text-danger'}" %>
        <span class="font-weight-bold text-capitalize <%= @about.status == 'inactive' ? 'text-danger' : 'text-success' %>">
          <%= @about.status %>
        </span>
      </p>       
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <div class="card-body">
          <%= image_tag @about.image, class:'card-img' if @about.image.attached? %>        
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-dark"><i class="fa fa-clipboard"></i> Title</h5>
          <p class="card-text"><%= @about.title %></p>                   
          <h5 class="card-title text-dark"><i class="fa fa-align-left"></i> Description</h5>
          <p class="card-text"><%= raw @about.description %></p>
        </div>
      </div>     
    </div>
    <div class="card-header py-3">
      <a href="<%= admin_abouts_path %>" class="btn btn-dark btn-icon-split">
        <span class="icon text-white"><i class="fas fa-arrow-left"></i></span>
        <span class="text">Back</span>
      </a>    
    </div>
  </div>
</div>
