<div class="text-center">
  <h1 class="h4 font-weight-bold text-gray-900 mb-4">
    <i class="fa fa-list-alt"></i> Category</h1>
</div>
<%= form_with(model: [ :admin, category ], local: true) do |form| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p><i class="fa fa-exclamation"></i> <%= pluralize(category.errors.count, "error") %>: Unable to save changes.</p>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= form.text_field :title, class:'form-control form-control-user', required: true, placeholder: 'Enter Title...' %>
  </div>
  <div class="button-group py-2 d-flex justify-content-between align-items-center">                                                                                                                                                             
    <a href="<%= admin_categories_path %>" class="btn btn-dark btn-icon-split">
      <span class="icon text-white"><i class="fas fa-arrow-left"></i></span>
      <span class="text">Back</span>
    </a>
    <%= form.submit class: 'btn btn-dark' %>
  </div>
<%end%>